.innert{
	position:absolute;
	border:1px solid blue;
	background-color:rgba(50,50,255,0.5);
	cursor:pointer;
}
.innert:hover{
	position:absolute;
	border:1px solid red;
	background-color:pink;
}
.peaple{
	
}
.grid-zero{
	position:absolute;
	border:1px solid gray;
}
.grid{
	position:absolute;
	border-bottom:1px solid gray;
	border-right:1px solid gray;
}