<!DOCTYPE HTML>
 <html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>EW | {website.page}</title>
	<link rel="icon" href="resources/img/logo Interno.png" type="image/x-icon" />
	<link rel="shortcut icon" href="resources/img/logo Interno.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="resources/templates/simple/resources/css/page.css">
	<link rel="stylesheet" type="text/css" href="resources/templates/simple/resources/css/grimorio.css">
	
	<script src="https://localhost/Teminal/v002.1/terminal_v2.1.class.js" charset="utf-8"></script>
	<script src="resources/js/page.js" charset="utf-8"></script>
	<script src="resources/js/grimorio.js" charset="utf-8"></script>
</head>
<body>
	<header>
		<h1><img src="resources/img/btnMenu.png">EW | {website.page}</h1>
	</header>
	
	<nav>
		<ul>{website.nav.item}</ul>
	</nav>
	{website.content}
  <aside>
	{website.propaganda}
  </aside>
  <footer>
      by <a href="">Daniel Lima</a>
  </footer>
</body>
</html>
