body{
	margin:0;
	padding:0;
	background-image:url("../img/background250.png");
	font-size:16px;
}
header{
	height:52px;
}
h1{
	font-size:40px;
	padding:0;
	margin:0;
	
}
h1 img{
	height:28px;
	border:1px solid black;
	padding:3px;
	background-color:white;
	border-radius: 10px;
}
h1 img:hover{
	border:3px solid black;
	padding:1px;
	border-radius: 0px;
}
header,aside,nav{
	background-color:rgba(255,255,255,0.8);
	margin:3px;
	padding:3px;
	border-radius: 10px;
	box-shadow: 3px 3px rgba(0,0,0,0.5);
}
#content{
	position:fixed;
	top:61px;
	height:calc(100% - 100px);
	width:calc(100% - 12px);
	display:block;
}
footer{
	border-top:1px solid black;
}
aside{
	display:none;
}
nav{
	position:absolute;
	top:61px;
	left:3px;
	display:block;
	z-index:50;

}
nav ul{
	list-style: none;
	margin:0;
	padding:0;
}
nav li{
	margin:0;
	padding:0;
}
nav a{
	border:1px solid black;
	display:block;
	background-color: white;
	padding:3px;
	margin:3px;
	text-decoration:none;
	color: black;
	border-radius: 10px;
}
nav a:hover{
	border:3px solid black;
	padding:1px;
	border-radius: 0px;
}
@media (pointer: coarse) {
	body{
		background-color:black;
	}
	#content,header,aside{
		background-color:rgb(255,255,255);
		margin:3px;
		padding:3px;
	}
	h1{
		font-size:100px;
	}
	header{
		height:112px;
	}
	#content{
		
	}
}