<!DOCTYPE HTML>
 <html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>{webseite.title}|{webseite.subtitle}</title>
    <link href="resources/css/defalt.css" rel="stylesheet"/>
    <script src="scripts/seu-script.js"></script>
</head>
<body>
   <header>
      <nav>
          <ul>
			{website.nav.item}
          </ul>
      </nav>
      <div>
        <h1>Daniel Lima</h1>
      </div>
  </header>
{website.content}
  <aside>
	{propaganda}
  </aside>
  <footer>
      by <a href="">Daniel Lima</a>
  </footer>
  <div id="fundo"></div>
</body>
</html>
